.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.playground {
    border: 1px solid #c2c2c3;
    width: 300px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.playground p {
    font-size: 40px;
    font-weight: bold;
    color: green;
}

.playground:hover {
    border-color: black;
}

.btn-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-grp button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn-grp button.start {
    background-color: green;
    border-radius: 5px;
    color: white;
    border: none;
}

.btn-grp button.start:hover {
    background-color: darkgreen;
}

.btn-grp button.start:disabled {
    background-color: lightgreen;
    color: white;
    cursor: not-allowed;
}

.btn-grp button.stop {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-grp button.stop:hover {
    background-color: darkred;
}

.btn-grp button.stop:disabled {
    background-color: lightcoral;
    color: white;
    cursor: not-allowed;
}

.game-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}


.reset-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #c2c2c3;
    border: none;
    color: white;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: #a0a0a0;
}

.reset-button:disabled {
    background-color: #e0e0e0;
    color: white;
    cursor: not-allowed;
}
